@import 'nav.scss';
@import 'footer.scss';

.navbar {
  position: static;

  .nav {
    .nav-item {
      .active {
        color: #21D1BE
      }
    }
  }
}

.footer {
  background: #f3f3f3;
  color: #333;
}

.detail {
  width: 100%;
  padding: 5% 25%;
  background: #f8f8f8;

  h2 {
    color: #333;
    font-weight: 500;
  }

  p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    line-height: 32px;

  }
}

//baner
.baner {
  position: relative;
  background: url('../img/Attract/banner.png') center center no-repeat;
  background-size: cover;

  .bgText {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 40px 10px;
    color: #fff;
  }

  h3 {
    font-size: 32px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
  }

  .pathp {
    span:nth-child(1) {
      position: relative;
      margin-right: 30px;

      &:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 60%;
        top: 20%;
        right: -15px;
        background: #fff;
      }
    }
  }

  .container {
    .listWrapper {
      position: relative;

      p {
        margin: 0;
      }

      .ptext1 {
        font-size: 20px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: #fff;
        line-height: 25px;
        margin-top: 8px;
      }

      .ptext2 {
        font-size: 14px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: #fff;
        line-height: 25px;
      }

      &:after {
        position: absolute;
        width: 2px;
        height: 40%;
        right: -110%;
        top: 40%;
        background: rgba(52, 235, 164, 1);
        content: '';
      }
    }

    .listWrapper:nth-of-type(3) {
      &:after {
        display: none;
      }
    }
  }
}

.main {
  .mainBox {
    padding: 45px 0;

    h2 {
      font-size: 24px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 34px;
    }

    h4 {
      font-size: 18px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .iconBox {
      .leftIcon {
        background: url('../img/Attract/mainleftIcon.png') center center no-repeat;
        background-size: contain;
        width: 120px;
        height: 140px;

        img {
          width: 49px;
        }

        p {
          width: 126px;
          height: 33px;
          font-size: 14px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          line-height: 33px;
        }
      }

      .centerIcon {
        background: url('../img/Attract/maincenterIcon.png') center center no-repeat;
        background-size: contain;
        width: 120px;
        height: 140px;
      }

      .rightIcon {
        background: url('../img/Attract/mainrightIcon.png') center center no-repeat;
        background-size: contain;
        width: 120px;
        height: 140px;
      }

      .mainCenterImgBox {
        margin: 0 40px;

        .mainCenterImg {
          margin-top: 40px;
          width: 200px;
        }

        .btns {
          border: none;
          width: 150px;
          height: 37px;
          margin-top: 40px;
          background: url('../img/Attract/btns.png') center center no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

//长期受益，向后运营收入
.mainbglight {
  padding: 45px 0;
  background: #ebebeb;

  h2 {
    font-size: 24px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 34px;
  }

  .container {
    padding: 0 20px;
    margin-top: 30px;

    h4 {
      font-size: 18px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
      text-indent: 10px;
    }

    table {

      tr:nth-child(1) {
        background: linear-gradient(135deg, rgba(52, 235, 164, 1) 0%, rgba(26, 209, 204, 1) 100%);

        td {
          font-size: 18px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          line-height: 25px;
          text-indent: 10px;

        }
      }

      tr {
        td:nth-of-type(1) {
          font-size: 18px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          line-height: 25px;
        }

        td {
          font-size: 14px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          line-height: 20px;
        }
      }
    }
  }
}

//因为专业
.imgBox {
  padding: 20px 0;

  h2 {
    font-size: 24px;
    font-family: 'PingFang-SC-Bold';
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 34px;
  }

  p {
    font-size: 14px;
    font-family: 'PingFang-SC-Medium';
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;
  }

  ul {
    width: 100%;

    li {
      img {
        width: 100%;
      }
    }
  }
}

//因为团队
.timBox {
  // position:relative;
  background: url('../img/Attract/timbg.png') center center no-repeat;
  background-size: cover;
  padding: 50px 0;

  img {
    width: 100%;
  }

  .timTextBox {
    // width:100%;
    // height:100%;
    // position:absolute;
    // left:0;
    // top:0;
    padding: 20px 0;

    h4 {
      font-size: 24px;
      font-family: 'PingFang-SC-Bold';
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 34px;
    }

    p {
      font-size: 18px;
      font-family: 'PingFang-SC-Medium';
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      line-height: 25px;
    }

    ul.container {
      li {
        img {
          width: 80%;
        }
      }
    }
  }
}

//线下渠道销售模式
.offlineWrapper {
  padding: 50px 0 20px 0;

  h2 {
    font-size: 24px;
    font-family: 'PingFang-SC-Bold';

    color: rgba(51, 51, 51, 1);
    line-height: 34px;
  }

  .offlineList {
    .list {
      background: #e9e9e9;
      width: 12%;
      padding: 20px 15px;

      h4 {
        font-size: 24px;
        font-family: PingFang-SC-Medium;
        font-weight: normal;
        color: rgba(255, 255, 255, 1);
        line-height: 34px;
      }

      p {
        font-size: 16px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        margin: 0;

      }

      h5 {
        font-size: 16px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 24px;
      }

      span {
        font-size: 14px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 18px;
      }
    }

    .list:nth-child(1) {
      background: url('../img/Attract/listOneBg.png') center center no-repeat;
      padding: 50px 25px;

    }
  }
}

//加盟
.joinUs {
  padding: 80px 0;
  background: url('../img/Attract/joinBg.png') center center no-repeat;
  background-size: cover;

  h2 {
    font-size: 24px;
    font-family: PingFang-SC-Bold;
    // font-weight:bold;
    color: rgba(255, 255, 255, 1);
    line-height: 34px;
  }

  .list {
    width: 15%;
    padding: 40px 25px;
    background: #f2f2f2;
    border-radius: 6px;

    p {
      font-size: 15px;
      font-family: PingFang-SC-Medium;
      font-weight: normal;
      color: rgba(51, 51, 51, 1);
      line-height: 24px;
    }
  }
}

// 加盟申请表
.joinForm {
  background: url('../img/Attract/joinUsBg.png') center center no-repeat;
  background-size: cover;

  h2 {
    font-size: 24px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 67px;
  }

  .joinFromBox {
    .row {
      .left {
        position: relative;

        h4 {
          font-size: 18px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          line-height: 50px;
        }

        p {
          font-size: 16px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          line-height: 33px;
        }

        i {
          font-style: normal;
          font-size: 12px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          line-height: 33px;
        }

        &:after {
          content: '';
          width: 1px;
          height: 40%;
          position: absolute;
          background: #d1d1d1;
          right: 0;
          top: 20%;
        }
      }
    }
  }

  .right {
    .form-group {
      label {
        width: 100px;
        text-align: right;
      }

      input {
        width: 220px;
        height: 35px;
        border: solid 1px #ededed;
        border-radius: 3px;
        line-height: 35px;
        padding-left: 5px;
        background: #ededed;
      }

      .joinBtn {
        background: url('../img/Attract/joinBtn.png') center center no-repeat;
        background-size: contain;
        border: none;
      }
    }
  }
}

//加盟步骤
.join_step {
  padding: 40px 0;
  background: #f9f9f9;

  h2 {
    font-size: 24px;
    font-family: 'PingFang-SC-Bold';
    // font-weight:bold;
    color: rgba(51, 51, 51, 1);
    line-height: 34px;
  }

  .joinStep {
    .joinStepList {
      width: 120px;

      img {
        width: 30%;
      }

      p {
        font-size: 14px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 24px;
        margin-top: 12px;
      }
    }
  }
}

//personOperation
.personOperation {
  padding: 42px 0;
  background: #f6f6f6;

  h2 {
    font-size: 24px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 34px;
  }

  .container {
    .bottomBox {
      .circleBox {
        width: 190px;

        .circle {
          width: 120px;
          height: 120px;
          border: solid 2px #666;
          border-radius: 50%;
          text-align: center;

          img {
            vertical-align: middle;
            width: 30px;
            margin-top: 30px;
          }

        }

        p {
          font-size: 14px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(51, 51, 51, 1);
          line-height: 25px;
        }
      }

    }

    .topBox {
      padding-left: 40%;

      img {
        width: 50%;
      }

      .left {}
    }

    .middleBox {
      .middleBg {
        width: 113px;
        height: 113px;
        background: url('../img/Attract/personBg.png') center center no-repeat;
        background-size: contain;
        text-align: center;
        padding-top: 50px;

        p {
          font-size: 18px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          line-height: 25px;
        }
      }

    }
  }
}
// 线下渠道销售模式
.cardBox{
  padding:50px 0;
  h2{
    font-size:24px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:34px;
  }
  .cardWrapper{
    .card{
      width:220px;
      .img{
        width:100%;
      }
      .card-body{
        .card-title{
          font-size:18px;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(51,51,51,1);
          line-height:24px;
        }
        .card-text{
          font-size:14px;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(51,51,51,1);
          line-height:20px;
        }
  
      }
    }
  }
}
