@import 'nav.scss';
@import 'footer.scss';
.baner{
  img{
    width:100%;
  }
}
.navbar{
  position: initial;
}
.contentInfo{
  // padding:20px 0;
  width:70%;
  margin:50px auto;
  .row{
    .left{
      padding-right:40px;
      .Beforeline{ 
        margin-top:50px;
        font-size:16px;
        position: relative;
        text-indent: 10px;
        color:#333;
        &:before{
        content:'';
        width:2px;
        height:80%;
        background:#33eaa5;
        position: absolute;
        left:0px;
        top:10%;
        }
      }
      .Beforeline:nth-of-type(1){
        margin:0;
      }
      p:nth-of-type(2),p:nth-of-type(3),p:nth-of-type(5),p:nth-of-type(6){
        // font-size:12px;
        margin:0;
      }
      // img{
      //   width:50%;
      // }
      p{
        font-size:14px;
        margin:0;
        font-weight:500;
        color:#333;
        // span{
        //   color:red;
        //   font-family: PingFangSC-Regular;
        //   background:linear-gradient(135deg,rgba(52,235,164,1) 0%,rgba(26,209,204,1) 100%);
        //   -webkit-background-clip: text;
        //   color: transparent;
        //   font-size:20px;
        //   font-weight: 500
        // }
      }
 
    }
    .right{
     padding-left:50px;
      .Beforeline{
        font-size:16px;
        position: relative;
        text-indent: 10px;
        color:#333;
        &:before{
        content:'';
        width:2px;
        height:80%;
        background:#33eaa5;
        position: absolute;
        left:0px;
        top:10%;
        }
      }
      p{
        font-size:14px;
        margin:0;
        font-weight:500;
        color:#333;
      }
    }
  }
}
// 运营合作
.cooperation{
  background:#f8f8f8;
  
  h4{
      font-size:24px;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(51,51,51,1);
      line-height:34px;
  }
  h5{
    font-size:16px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:25px;
  }
  .cooperationWrapper{
    width:60%;
    margin:0 auto;
    .listWrapper{
      p{
        margin:0;
        font-size:16px;
        
        font-family:PingFangSC-Semibold;
        font-weight:600;
        color:rgba(51,51,51,1);
        line-height:33px;
      }
      span{
        display:block;
        width:200px;
        font-size:15px;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height:33px;
      }
      img{
        width:30px;
      }
    }
    .listWrapper:nth-of-type(2){
      img{
        width:36px;
      }
    }
    .listWrapper:nth-of-type(3){
      img{
        width:36px;
      }
    }
  }
  
}
.userInfoTable{
  table{
    word-wrap:break-word;
    table-layout:fixed;
    width:70%;
    margin:20px auto;
    tr:nth-of-type(1){
      background:linear-gradient(135deg,rgba(52,235,164,1) 0%,rgba(26,209,204,1) 100%);
      color:#fff;
     
    }
    tr{
      td{
          font-size:16px;
          vertical-align: middle;
          padding:10px;
        
      }
    }
  }
}