.navbar {
  width:100%;
  background: #333;
  position: fixed;
  z-index:10;
  height:60px;
  .navbar-brand{
    margin-right:10%;
    img{
      width:50px;
    }
  }
  .nav {
    .nav-item {
      .nav-link {
        color: #fff;
        font-size: 14px;
      }
      .nav-link:hover{
        color: #21D1BE
         
      }

      .active {
        color: #21D1BE
      }
    }
  }
}