.navbar {
  width: 100%;
  background: #333;
  position: fixed;
  z-index: 10;
}

.navbar .navbar-brand {
  margin-right: 10%;
}

.navbar .nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #21D1BE;
}

.navbar .nav .nav-item .active {
  color: #21D1BE;
}

.footer {
  background: #333333;
  color: #fff;
  padding: 15px 0;
}

.footer div:nth-child(1) img {
  width: 50px;
  height: 20px;
}

.footer div:nth-child(1) p {
  font-size: 14px;
  margin: 0;
}

.footer div {
  position: relative;
  height: 100px;
}

.footer div p {
  font-size: 14px;
}

.footer div:after {
  content: ' ';
  width: 1px;
  height: 50%;
  position: absolute;
  top: 25%;
  right: -65%;
  background: #757575;
}

.footer div:nth-of-type(3):after {
  display: none;
}

.detail {
  width: 100%;
  padding: 5% 26%;
  background: #f8f8f8;
}

.detail h2 {
  color: #333;
  font-weight: 500;
}

.detail p {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  line-height: 32px;
  margin: 20px 0;
}

.newsWapper {
  background: #f5f4f4;
  box-shadow: 0px 2px 4px 0px rgba(145, 145, 145, 0.5);
  padding: 30px 0;
}

.newsWapper .newList {
  width: 500px;
}

.newsWapper .newList p {
  font-size: 14px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 20px;
}

.newsWapper .newList h2 {
  font-size: 24px;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #4b4b4b;
  line-height: 33px;
}

.newsWapper .newList span {
  font-size: 14px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #999999;
  line-height: 20px;
}
