.footer {
  background: #333333;
  color: #fff;
  padding: 15px 0;
}

.footer div:nth-child(1) img {
  width: 50px;
  height: 20px;
}

.footer div:nth-child(1) p {
  font-size: 14px;
  margin: 0;
}

.footer div {
  position: relative;
  height: 100px;
}

.footer div p {
  font-size: 14px;
}

.footer div:after {
  content: ' ';
  width: 1px;
  height: 50%;
  position: absolute;
  top: 25%;
  right: -65%;
  background: #757575;
}

.footer div:nth-of-type(3):after {
  display: none;
}
