.footer {
  background: #333333;
  color: #fff;
  padding: 35px 0;
}

.footer div:nth-child(1) img {
  width: 50px;
}

.footer div:nth-child(1) p {
  font-size: 14px;
  margin: 0;
  margin-left: 15px;
}

.footer div {
  position: relative;
  height: 100px;
}

.footer div p {
  font-size: 14px;
}

.footer div p:nth-of-type(2) {
  margin: 10px 0;
}

.footer div:after {
  content: ' ';
  width: 1px;
  height: 50%;
  position: absolute;
  top: 25%;
  right: -90px;
  background: #757575;
}

.footer div:nth-of-type(2) {
  margin: 0 180px;
}

.footer div:nth-of-type(3):after {
  display: none;
}

.footer .appQcode img {
  width: 80px;
}
