.navbar {
  width: 100%;
  background: #333;
  position: fixed;
  z-index: 10;
  height: 60px;
}

.navbar .navbar-brand {
  margin-right: 10%;
}

.navbar .navbar-brand img {
  width: 50px;
}

.navbar .nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #21D1BE;
}

.navbar .nav .nav-item .active {
  color: #21D1BE;
}
