.navbar {
  width: 100%;
  background: #333;
  position: fixed;
  z-index: 10;
}

.navbar .navbar-brand {
  margin-right: 10%;
}

.navbar .nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #21D1BE;
}

.navbar .nav .nav-item .active {
  color: #21D1BE;
}

.footer {
  background: #333333;
  color: #fff;
  padding: 15px 0;
}

.footer div:nth-child(1) img {
  width: 50px;
  height: 20px;
}

.footer div:nth-child(1) p {
  font-size: 14px;
  margin: 0;
}

.footer div {
  position: relative;
  height: 100px;
}

.footer div p {
  font-size: 14px;
}

.footer div:after {
  content: ' ';
  width: 1px;
  height: 50%;
  position: absolute;
  top: 25%;
  right: -65%;
  background: #757575;
}

.footer div:nth-of-type(3):after {
  display: none;
}

.navbar {
  width: 100%;
  background: #333;
  position: static;
  z-index: 10;
}

.quesion {
  padding: 20px 0;
  background: #e1e1e1 url("../img/quesion_BG.png") center center no-repeat;
  background-size: contain;
}

.quesion .q-text li {
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}

.quesion .q-text li:nth-of-type(even) {
  text-indent: 25px;
}

.quesion h2 {
  font-size: 24px;
  font-family: 'PingFang-SC-Bold';
  font-weight: bold;
  color: #333333;
  line-height: 34px;
  margin-top: 15px;
}

.banner {
  position: relative;
}

.banner .bgText {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  padding: 25px;
  background: url("../img/serve/baner.png") center center no-repeat;
  background-size: cover;
}

.banner .bgText h2 {
  font-size: 32px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  color: white;
  line-height: 45px;
}

.banner .bgText .row .left .downBox a img {
  width: 40%;
}

.banner .bgText .row .right img {
  width: 38%;
}

.bomBox {
  width: 100%;
  height: 200px;
  background: #f3f3f3;
}
